header a {
    text-decoration: none;
    color: #2e2f42;
}

header a:hover,
header a:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

.hero-button {
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero-title,
.team-title,
.portfolio-title {
    text-align: center;
}

.team-list {
    background-color: #ffffff;
}

.team-item {
    text-align: center;
    background-color: #f4f4fd;
}

.hero,
.footer {
    color: white;
    background-color: #2e2f42;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover,
footer a:focus {
    color: #404bbf;
}

.logo {
    font-family: "Raleway";
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent {
    color: #4d5ae5;
    text-transform: uppercase;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}