/* #region Basic style */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style: none;
}

/* #endregion */
/* #region logo */
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-accent {
    color: #4d5ae5;
}

.logo-white {
    color: #2e2f42;
}

.logo-black {
    color: #f4f4fd;
}

.logo-white:hover,
.logo-white:focus,
.logo-black:hover,
.logo-black:focus {
    color: #404BBF;
}

/* #endregion */
/* #region Navigation */
.nav-list {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-text {
    color: #2e2f42;
    text-decoration: none;
}

/* #endregion */
/* #region contact */

.contacts-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.contacts-text {
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

.nav-text:hover,
.contacts-text:hover,
.nav-text:focus,
.contacts-text:focus {
    color: #404bbf;
}

/* #endregion */

.hero {
    background: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #404bbf;
}

/* #region Fatures */

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* #endregion */
/* #region Team */
.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-item {
    background-color: #fff;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    text-align: center;
}

/* #endregion */
/* #region Portfolio */

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* #endregion */
.footer {
    background-color: #2e2f42;
}

.footer-text {
    color: #f4f4fd;
}